html{
    box-sizing: border-box;


}

header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}

body{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
color:black;
border: 1px black;
}